@font-face {
    font-family: "gibsonRegular";
    src: url("https://www.dr.dk/assets/fonts/gibson/regular/gibson-regular-webfont.eot");
    src: url("https://www.dr.dk/assets/fonts/gibson/regular/gibson-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("https://www.dr.dk/assets/fonts/gibson/regular/gibson-regular-webfont.woff2") format("woff2"),
    url("https://www.dr.dk/assets/fonts/gibson/regular/gibson-regular-webfont.woff") format("woff"),
    url("https://www.dr.dk/assets/fonts/gibson/regular/gibson-regular-webfont.ttf") format("truetype"),
    url("https://www.dr.dk/assets/fonts/gibson/regular/gibson-regular-webfont.svg") format("svg");
    font-weight: normal;
}
@font-face{
    font-family:"gibsonSemiBold";
    src:url("https://www.dr.dk/assets/fonts/gibson/semiBold/gibson-semiBold-webfont.eot");
    src:url("https://www.dr.dk/assets/fonts/gibson/semiBold/gibson-semiBold-webfont.eot?#iefix") format("embedded-opentype"),
    url("https://www.dr.dk/assets/fonts/gibson/semiBold/gibson-semiBold-webfont.woff2") format("woff2"),
    url("https://www.dr.dk/assets/fonts/gibson/semiBold/gibson-semiBold-webfont.woff") format("woff"),
    url("https://www.dr.dk/assets/fonts/gibson/semiBold/gibson-semiBold-webfont.ttf") format("truetype"),
    url("https://www.dr.dk/assets/fonts/gibson/semiBold/gibson-semiBold-webfont.svg") format("svg");
    font-weight:normal
}

body {
    margin: 0;
    padding: 0;
    font-family: "gibsonRegular";
    background: #333;
    color: #fff;
}

h1 {
    font-family: "gibsonSemiBold";
    text-align: left;
    max-width: 300px;
    margin: 20px auto 40px;
}
.intro {

    font-size: 125%;
    max-width: 300px;
    margin: 0px auto 40px;
}
.card {
    max-width: 300px;
    margin: 0px auto 40px;
    img {
        max-width: 100%;
    }
}

#coins {
    position: fixed;
    top: 0px;
    left: 0px;
}
.coin {
    height: calc(2vh - 2px);
    margin-bottom: 2px;
    background: #aaa;
    width: 4vh;
    transition: opacity .3s;
}
.hidden {
    opacity: 0.1;
}